    .complProjects {
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        &-topSlider {
            // display: flex;
            // justify-content: space-between;
            text-align: center;
            .slick-current {
                display: flex;
                justify-content: center;
                .box {
                    color: $accent-color;
                    border-bottom: 1px solid $accent-color;
                    padding-bottom: 7px;
                }
            }
            &-wrapper {
                padding-top: 107px;
                max-width: 700px;
                margin-left: auto;
                margin-right: 225px;
            }
            &-item {
                @include font($YO, 14px, 19px);
                color: $font-color_1;
                text-transform: uppercase;
                border-bottom: 1px solid transparent;
            }
        }
        .complProjects-mainSlider {
            margin-left: 100px;
            margin-top: 45px;
            &-item {
                display: flex;
                margin-right: 1px;
                // min-width: 0;
                &__info {
                    margin-right: 50px;
                    &-title {
                        @include font($YO, 27px, 37px);
                        color: $accent-color;
                        letter-spacing: -0.07em;
                        text-transform: uppercase;
                        max-width: 200px;
                        position: relative;
                        margin-bottom: 34px;
                        &:after {
                            content: "";
                            width: 92px;
                            height: 1px;
                            display: block;
                            background-color: $accent-color;
                            position: absolute;
                            right: -110px;
                            bottom: 20px;
                        }
                    }
                    &-descr {
                        @include font($FBC, 18px, 29px);
                        // color: $white-color;
                        max-width: 442px;
                        margin-bottom: 42px;
                    }
                    &-options {
                        display: flex;
                        // flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 442px;
                        margin-bottom: 60px;
                    }
                    .option {
                        &-title {
                            @include font($YO, 18px, 25px);
                            color: $accent-color;
                            text-transform: uppercase;
                            margin-bottom: 9px;
                            width: 220px;
                        }
                        &-descr {
                            @include font($FBC, 15px, 20px);
                            margin-bottom: 34px;
                        }
                    }
                }
            }
        }
        .complProjects-mainSlider {
            padding-bottom: 407px;
            .mainSlider-arrows {
                position: absolute;
                bottom: 413px;
                z-index: 3;
                cursor: pointer;
            }
            .mainSlider-arrow-left {
                left: 0;
            }
            .mainSlider-arrowRight {
                left: 165px;
            }
            .mainSlider-dots {
                display: flex;
                position: absolute;
                left: 72px;
                bottom: 415px;
                li {
                    &+li {
                        margin-left: 18px;
                    }
                    &.slick-active>button {
                        background-color: $white-color;
                    }
                    button {
                        border: none;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        font-size: 0;
                        background: rgba(255, 255, 255, 0.3);
                        padding: 0;
                    }
                }
            }
        }
    }
    
    .complProjects-innerSlider {
        min-width: 0;
        position: relative;
        .slick-track {
            display: flex;
        }
        .slick-list {
            overflow: hidden;
        }
        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 3;
            font-size: 0;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $accent-color;
            border: none;
            box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
            &:hover {
                background-color: darken($accent-color, 10%);
            }
            &.slick-disabled {
                // display: none;
                visibility: hidden;
            }
            &.slick-prev {
                left: 45px;
                &:after {
                    content: "\f104";
                    @include font($ICO, 30px, 1);
                    color: $white-color;
                    transform: translateX(-2px);
                }
            }
            &.slick-next {
                right: 45px;
                &:after {
                    content: "\f105";
                    @include font($ICO, 30px, 1);
                    color: $white-color;
                }
            }
        }
    }
    
    .online-control {
        text-align: center;
        position: absolute;
        bottom: -645px;
        left: 50%;
        transform: translateX(-50%);
        .online-control__title {
            @include font($YO, 20px, 28px);
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        .online-control__icon {
            margin-bottom: 31px;
        }
        .online-control__video {
            width: 817px;
            height: 434px;
            margin: 0 auto 62px;
            background: rgba(0, 0, 0, 0.8);
            // margin-bottom: 300px;
            background-repeat: no-repeat;
            background-size: contain;
            background-blend-mode: overlay;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
            .videoPlay__btn {
                border: none;
                outline: none;
                background-color: $accent-color;
                width: 85px;
                height: 85px;
                border-radius: 50%;
                &:after {
                    content: "\f04b";
                    @include font($ICO, 28px, 85px);
                    color: $white-color;
                }
                &:hover {
                    background-color: darken($accent-color, 10%);
                }
            }
        }
        &__line {
            width: 55px;
            height: 2px;
            background-color: $accent-color;
            margin: 0 auto 35px;
        }
        &__descr {
            @include font($FBC, 20px, 34px);
            text-align: center;
            color: $font-color_1;
            max-width: 681px;
            margin: 0 auto 92px;
        }
        //     &__form {
        //         max-width: 770px;
        //         margin: 0 auto 100px;
        //     }
        //     &__inputs {
        //         display: flex;
        //         justify-content: space-between;
        //         .online-control__input {
        //             width: 230px;
        //             background: none;
        //             border: none;
        //             outline: none;
        //             border-bottom: #000;
        //             color: white;
        //         }
        //         //     .label-name {
        //         //         .content-name {}
        //         //     }
        //         //     .label-phone {
        //         //         .content-phone {}
        //         //     }
        //         //     .online-control__btn {}
        //         // }
        //         // .online-control__checkbox {}
        //     }
    }