@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futura/FuturaDemiC.eot');
    src: local('Futura Demi Cyrillic'), local('FuturaDemiC'), url('../fonts/futura/FuturaDemiC.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaDemiC.woff') format('woff'), url('../fonts/futura/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/futura/FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'), url('../fonts/futura/FuturaMediumC.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaMediumC.woff') format('woff'), url('../fonts/futura/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('../fonts/futura/FuturaLightC-Italic.eot');
    src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'), url('../fonts/futura/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaLightC-Italic.woff') format('woff'), url('../fonts/futura/FuturaLightC-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/futura/FuturaMediumC-Italic.eot');
    src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'), url('../fonts/futura/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaMediumC-Italic.woff') format('woff'), url('../fonts/futura/FuturaMediumC-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('../fonts/futura/FuturaLightC.eot');
    src: local('Futura Light Cyrillic'), local('FuturaLightC'), url('../fonts/futura/FuturaLightC.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaLightC.woff') format('woff'), url('../fonts/futura/FuturaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futura/FuturaDemiC-Italic.eot');
    src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'), url('../fonts/futura/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaDemiC-Italic.woff') format('woff'), url('../fonts/futura/FuturaDemiC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/futura/FuturaBookC-Italic.eot');
    src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'), url('../fonts/futura/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaBookC-Italic.woff') format('woff'), url('../fonts/futura/FuturaBookC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/futura/FuturaBookC.eot');
    src: local('Futura Book Cyrillic'), local('FuturaBookC'), url('../fonts/futura/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../fonts/futura/FuturaBookC.woff') format('woff'), url('../fonts/futura/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?iskp84');
    src: url('../fonts/icomoon/icomoon.eot?iskp84#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?iskp84') format('truetype'), url('../fonts/icomoon/icomoon.woff?iskp84') format('woff'), url('fonts/icomoon.svg?iskp84#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
    content: "\f107";
}

// @font-face {
//     font-family: 'Proxima Nova Cn Rg';
//     src: url('ProximaNovaCond-Regular.eot');
//     src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'), url('ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'), url('ProximaNovaCond-Regular.woff') format('woff'), url('ProximaNovaCond-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximaNova/proximaNova.ttf');
    font-weight: normal;
    font-style: normal;
}