.online-control {
    &__form {
        width: 770px;
        margin: 0 auto;
        .label-permition {
            @include font($FBC, 16px, 22px);
            color: $font-color_2;
            position: relative;
            padding-left: 25px;
            &:before {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                background-color: $accent-color;
                border: 1px solid $font-color_2;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
            &:after {
                content: "\f00c";
                @include font($ICO, 15px, 18px);
                color: $white-color;
                display: block;
                opacity: 0;
                position: absolute;
                top: 1px;
                left: 3px;
                z-index: 2;
            }
        }
        .permition-checkbox {
            position: absolute;
            appearance: none;
            &:checked {
                &+.label-permition {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include font($FBC, 15px, 20px);
        color: $font-color_1;
        margin-bottom: 33px;
    }
    &__group {
        position: relative;
        label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            @include font($FBC, 15px, 20px);
            color: $font-color_1;
            transition: all 0.3s ease;
        }
        input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid $font-color_1;
            background: transparent;
            // transition: all 0.5s ease;
            &:focus {
                border-bottom: 1px solid $accent-color;
                &~label {
                    top: -18px;
                    font-size: 14px;
                    color: $accent-color;
                }
            }
            &:not(:placeholder-shown)~label {
                top: -18px;
                font-size: 14px;
                color: $accent-color;
            }
        }
    }
    .online-control__btn {
        padding: 12px 59px;
        @include font($FDC, 15px, 26px);
        text-transform: uppercase;
        transition: all 0.5s ease;
        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}