.our-team {
    position: relative;
    background-color: $white-color;
    &__wrapper {
        max-width: 1238px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: -420px;
        left: 0;
        right: 0;
    }
    &__title {
        @include font($YO, 20px, 28px);
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    &__descr {
        @include font($FBC, 20px, 27px);
        max-width: 476px;
        margin: 0 auto;
        margin-bottom: 74px;
        color: $white-color;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        max-width: 1028px;
        margin: 0 auto 115px;
    }
    &__card {
        width: 272px;
        height: 358px;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        .work-icon {
            width: 70px;
            height: 70px;
            background-color: $accent-color;
            line-height: 70px;
            position: absolute;
            top: -35px;
            left: -35px;
        }
        .name-position {
            position: absolute;
            bottom: -40px;
            left: 0;
            right: 0;
            width: 233px;
            height: 137px;
            background-color: $white-color;
            margin: 0 auto;
        }
        .name {
            @include font($YO, 18px, 25px);
            color: $font-color_2;
            text-align: center;
            padding: 22px 0 9px;
            width: 100%;
            display: block;
        }
        .position {
            @include font($FBC, 18px, 26px);
            text-align: center;
            color: $font-color_3;
            width: 100%;
            margin-bottom: 24px;
            display: block;
        }
        .work-experience {
            @include font($YO, 13px, 20px);
            text-align: center;
            text-transform: uppercase;
            background-color: $accent-color;
            padding: 14px 23px;
        }
    }
    &__bottom-descr {
        @include font($FBC, 20px, 34px);
        text-align: center;
        color: $font-color_1;
        max-width: 558px;
        margin: 0 auto;
    }

}