.primary-btn,
.secondary-btn {
    outline: none;
    color: $white-color;
    @include font($FDC, 13px, 15px);
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
}

.primary-btn {
    border: 1px solid transparent;
    background-color: $accent-color;
}

.secondary-btn {
    border: 1px solid $white-color;
    background-color: transparent;
}

.active {
    color: $accent-color!important;
}

.section-icon {
    display: inline-block;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 32px;
        height: 2px;
        background-color: $accent-color;
        display: block;
        text-align: center;
    }
    &:before {
        right: 150%;
    }
    &:after {
        left: 150%;
    }
}