/* fonts */

$FDC: 'FuturaDemiC';
$FBC: 'FuturaBookC';
$FMC: 'FuturaMediumC';
$FLC: 'FuturaLightC';
$YO: 'Yeseva One';
$ICO: 'Icomoon';
$PRN: 'Proxima Nova';

/* colors */

$back-color: #252525;
$accent-color: #E3B873;
$bg-color: #0B0B0B;
$white-color: #fff;
$font-color_1: #363636;
$font-color_2: #181818;
$font-color_3: #959595;