@import '_vars.scss';
@import '_fonts.scss';
@import '_mixins.scss';
@import '_templates.scss';
@import '_general.scss';
@import '_header.scss';
@import '_innerSlider.scss';
@import '_complitedProjects.scss';
@import '_form.scss';
@import '_typesOfRepair';
@import '_repairStyles.scss';
@import '_designProject.scss';
@import '_working.scss';
@import '_ourTeam.scss';
@import '_ourClients.scss';
@import '_footer.scss';
@import '_modal.scss';
@import '_media.scss';